.chat-layout {
  display: flex;
  height: 100vh;
}

.chat-sidebar-wrapper {
  flex: 1;
}

.chat-wrapper {
  flex: 2.5;
  display: flex;
  flex-direction: column;
  background-color: #89e27e;
  color: white;

  &.chat-split {
    flex-direction: row;
  }

  .chat-list-pane {
    width: 100%;
  }

  &.chat-split .chat-list-pane {
    width: 20%;
    border-right: 1px solid #ccc;
  }

  .chat-window-pane {
    display: none;
  }

  &.chat-split .chat-window-pane {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: #fff;
    color: #000;
  }
}

.chat-sidebar {
  width: 35%;
  border-right: 1px solid #333;
  overflow-y: auto;
}

.chat-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
