@use '../../styles/mixins' as *;

.home {
  display: flex;
  width: 100%;
}

.layout {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #f0f2f5;
}

.newsfeed-wrapper {
  width: 600px;
  padding: 20px 20px 0 20px;
  min-height: calc(100vh - 50px);
}

// Phones: make the center column fluid and reduce padding
@include respond(phone) {
  .layout {
    justify-content: stretch;
    width: 100%;
    overflow-x: hidden;
  }

  .layout > .sidebar-wrapper {
    width: 0;
    flex: 0 0 0;
    padding: 0;
    margin: 0;
  }

  .layout > .rightbar-wrapper {
    display: none;
  }

  .newsfeed-wrapper {
    width: 100%;
    padding: 12px 12px 0 12px;
    padding-bottom: 84px;
    min-height: auto;
  }
}


// Tablets: still fluid, but keep comfortable padding
@include respond(tablet) {
  .newsfeed-wrapper {
    width: 100%;
  }
}
