.newsFeed {
  padding: 0 20px;
  margin-top: 20px;

  &--profile {
  }

  &--home {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.masonry-grid {
  display: flex;
  margin-left: -20px; 
  width: auto;
}

.masonry-grid_column {
  padding-left: 20px;
  background-clip: padding-box;
}

.masonry-grid_column > .post-container {
  margin-bottom: 20px;
}
