@use './variables' as *;
@use './mixins' as *;

// Глобальные стили
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-main;
  background-color: $background-color;
  color: $text-color;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
